.main_page{
    height: 100vh;
    width: 100%;
    background: url('../../images/main_page/background_main_page.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-left: 80px;
    box-sizing: border-box;
    overflow: hidden;
}

.container{
    max-width: 800px;
}

.content_header{
    display: flex;
    align-items: center;
    margin-bottom: 140px;
}


.content_header_navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding-left: 50px;
}

.burger{
    display: none;
    cursor: pointer;
}
.navbar_item{
    margin-right: 35px;
    cursor: pointer;
}

.navbar_item:after{
    content: '';
    width: 0%;
    background-color: aliceblue;
    height: 2px;
    margin-top: 5px;
    display: block;
    transition: 0.4s ease-out;
}

.navbar_item:hover::after{
    width: 100%;
}


/*==========main block info============*/

.main_page_content_info{
    max-width: 600px;
}
.content_info_title{
    font-size: 80px;

    font-weight: 600;
    color: #ffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.content_info_text{
    color: #ffff;
    margin-bottom: 60px;
}

.content_info_buttons{
    display: flex;
    align-items: center;
}

.content_info_btn{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 40px;
    box-sizing: border-box;
    width: 140px;
    border-radius: 18px;
    background-color: #f4bf59;
    margin-right: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in;
}

.content_info_btn:hover{
    transform: scale(1.05);
}





/*=========Burger navbarr============*/
.burger_navbar{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #fff;
    transform: translateX(200px);
    transition: 0.3s;
}

.show_burger_navbar{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #fff;
    transform: translateX(0);
    transition: 0.3s;
}


/*=============================Responsive===========================*/

@media (max-width: 1920px) {
   
}

@media (max-width: 701px) {

    .main_page{
        padding-left: 0;
    }
    .container{
        max-width: 600px;
        margin: 0 auto;
    }

    .content_header{
        margin-bottom: 110px;
    }    

    .content_header_navbar{
        font-size: 15px;
        padding-left: 35px;
    }
    
    .navbar_item{
        margin-right: 25px;
    }

    .content_info_title{
        font-size: 65px;
    }

    .content_info_text{
        margin-bottom: 50px;
    }
    
}


@media (max-width: 625px) {
 
    .container{
        max-width: 380px;
        margin: 0 auto;
    }

    .content_header{
        margin-bottom: 90px;
        justify-content: space-between;
    }    

    .content_header_navbar{
       display: none;
    }
    

    .content_info_title{
        font-size: 55px;
    }

    .content_info_text{
        margin-bottom: 50px;
        font-size: 14px;
    }

    .content_info_btn{
        font-size: 12px;
        padding: 10px 35px;
        width: 130px;
    }
        
    /* .burger{
        display: block;
    } */

    .burger>img{
        width: 50px;
        height: 50px;
    }
    
}