
.Register{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.registerText{
    margin-left: 2px;
}

.inputsBlock{
    padding: 5px;
    /* width: 70%; */
    /* width: 370px; */
}

.registerForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 370px; */
}


.inputsBlockCheckcbox{
    width: 390px;
    display: flex;
    justify-content: start;
    /* margin-top: 10px; */
    /* margin-left: 2px; */
}

.nameForFields{
    display: block;
    font-weight: 600;
}


/* .inputsBlockCheckcbox > div {
    margin: 5px;
} */

.CheckboxWrapper{
    display: flex;
    align-items: center;
}

.Checkbox{
    accent-color: #047857;
    width: 16px;
    height: 16px;
}

.inputsForFields{
    margin-top: 5px;
    padding: 6px;
    width: 370px;
}

/*Styles for button*/

.buttonWrapper{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
}

.buttonWrapper > button {
    padding: 15px  70px 15px 70px;
    background-color: #047857;
    color: white;
    border: 2px solid #047857;
    border-radius: 4px;
    transition: 0.5s;
}

.buttonWrapper > button:hover{
    background-color: #0ba97c;
    border: 2px solid #0ba97c;
    cursor: pointer;
    
}


/*Error paragraphs styles*/

.errorParagrpahInvisible{
    display: none;
}

.errorParagrpah{
    display: block;
    color: red;
}



/**************************************************************/


@keyframes ldioiqr7w6ud9q {
  0% { transform: scale(1.1500000000000001) }
  100% { transform: scale(1) }
}
.ldioiqr7w6ud9q div {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 13.333333333333336px;
  left: 13.333333333333336px;
  background: #143f6b;
  animation: ldioiqr7w6ud9q 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.3s;
}
.ldioiqr7w6ud9q div:nth-child(2) {
  top: 13.333333333333336px;
  left: 106.66666666666666px;
  background: #f55353;
  animation-delay: -0.2s;
}
.ldioiqr7w6ud9q div:nth-child(3) {
  top: 106.66666666666666px;
  left: 13.333333333333336px;
  background: #feb139;
  animation-delay: 0s;
}
.ldioiqr7w6ud9q div:nth-child(4) {
  top: 106.66666666666666px;
  left: 106.66666666666666px;
  background: #f6f54d;
  animation-delay: -0.1s;
}
.loadingiospinnercube6ije4twxt8j {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldioiqr7w6ud9q {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldioiqr7w6ud9q div { box-sizing: content-box; }