/*========LOGO==============*/



@keyframes ldio_h620mft2yoh {
    0% { transform: scale(1.1500000000000001) }
    100% { transform: scale(1) }
  }
  .ldio_h620mft2yoh div {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 13.333333333333336px;
    left: 13.333333333333336px;
    background: #143f6b;
    animation: ldio_h620mft2yoh 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.3s;
  }
  .ldio_h620mft2yoh div:nth-child(2) {
    top: 13.333333333333336px;
    left: 50px;
    background: #f55353;
    animation-delay: -0.2s;
  }
  .ldio_h620mft2yoh div:nth-child(3) {
    top: 50px;
    left: 13.333333333333336px;
    background: #feb139;
    animation-delay: 0s;
  }
  .ldio_h620mft2yoh div:nth-child(4) {
    top: 50px;
    left: 50px;
    background: #f6f54d;
    animation-delay: -0.1s;
  }
  .loadingio_spinner_cube_ku2mvh50cng {
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
  }
  .ldio_h620mft2yoh {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio_h620mft2yoh div { box-sizing: content-box; }
  


  /*=======Resonsive=======*/

  @media (max-width: 701px) {
    .loadingio_spinner_cube_ku2mvh50cng{
      width: 70px;
      height: 70px;
    }

    .ldio_h620mft2yoh div {
      width: 25px;
      height: 25px;
    }


    .ldio_h620mft2yoh div:nth-child(2) {
      top: 13.333333333333336px;
      left: 43px;
      background: #f55353;
      animation-delay: -0.2s;
    }
    .ldio_h620mft2yoh div:nth-child(3) {
      top: 43px;
      left: 13.333333333333336px;
      background: #feb139;
      animation-delay: 0s;
    }
    .ldio_h620mft2yoh div:nth-child(4) {
      top: 43px;
      left: 43px;
      background: #f6f54d;
      animation-delay: -0.1s;
    }

  }